/* GLOBER */

@font-face {
    src: url('../fonts/globerthin.otf');
    font-family: 'Glober';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/globerlight.otf');
    font-family: 'Glober';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/globerregular.otf');
    font-family: 'Glober';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/globerbook.otf');
    font-family: 'Glober';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/globersemibold.otf');
    font-family: 'Glober';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/globerbold.otf');
    font-family: 'Glober';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/globerxbold.otf');
    font-family: 'Glober';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/globerheavy.otf');
    font-family: 'Glober';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}