/* GLOBER */

@font-face {
    src: url('../fonts/GLOBERTHIN.otf');
    font-family: 'Glober';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/GLOBERLIGHT.otf');
    font-family: 'Glober';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/GLOBERREGULAR.otf');
    font-family: 'Glober';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/GLOBERBOOK.otf');
    font-family: 'Glober';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/GLOBERSEMIBOLD.otf');
    font-family: 'Glober';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/GLOBERBOLD.otf');
    font-family: 'Glober';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/GLOBERXBOLD.otf');
    font-family: 'Glober';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url('../fonts/GLOBERHEAVY.otf');
    font-family: 'Glober';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}